@use "../../styles/base/typography" as *;
.searchBar {
  &--input {
    width: 350px;
    border-radius: 50px;
    border: none;
    outline: none;
    padding: 10px 15px;
    font-family: $font-body;
    font-weight: 800;
    font-size: 1rem;
    &:focus {
      outline: none;
    }
  }
}
