@use "../../styles/abstract/variables" as *;

.navbar {
  background-color: $color-purple;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  height: 10vh;
  &__logo {
    object-fit: cover;
    object-position: 50% 45%;
    height: 100%;
    width: 160px;
    flex-shrink: 0;
  }
  &__link {
    color: white;
    text-decoration: none;
  }
}
